.checkbox-container {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.checkbox-container input[type='checkbox'] {
    width: 16px;
    height: 16px;
    accent-color: #0090f1;
}