.pachakui-radio {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
}

.pachakui-radio input[type='radio'] {
    width: 16px;
    height: 16px;
    accent-color: #0090f1;
}